*{
    /* padding:0; cuz padding everything looks disgusting omg */
    /* margin:0; same for this */
    box-sizing: border-box;
}
body{
    min-height: 100vh;
    display:flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center; 
    background-color: #f4f7f3;
    font-family: 'Poppins', sans-serif;
}
.title{
    font-size: 35px;
    margin-bottom: 20px;
    color: #2f4f3e;
    letter-spacing: 1px;
}
.box{
    background-color: #ffffff;
    width: 350px;
    padding: 25px;
    border-radius: 20px;
    box-shadow: 0 15px 40px rgba(0, 0, 0, 0.08);

}