* {
    margin: 0;/* cuz margin everything looks disgusting omg */
    padding: 0; 
    box-sizing: border-box;
}
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(135deg, #eaf6f0, #fdf6ec);
    /* background-color: #f4f7f3; */
    font-family: 'Poppins', sans-serif;
}
.title {
    font-size: 35px;
    margin-bottom: 20px;
    color: #4b6b5f;
}
.box {
    padding: 12px;
}
.card {
    background-color: #fffaf3;
    width: 360px;
    padding: 24px;
    border-radius: 24px;
    /* horizontal, vertical, blur radius, spread radius */
    /* inset for shadow inside the element */
    box-shadow:
        0 12px 25px rgba(0, 0, 0, 0.08),
        inset 0 0 0 2px #f1e3d3;
}
.input_task {
    display: flex;
    /* gap betn button and input box */
    gap: 10px;
    margin-bottom: 20px;
}
.input_task input {
    /* grow, shrink, basis; here, flex=1 ie grow 1 */
    flex: 1;
    padding: 12px 14px;
    border-radius: 14px;
    border: none;
    background-color: #f3efe9;
    font-size: 15px;
}
/* border color changes when the user is typing */
.input_task input:focus {
    outline: none;
    box-shadow: inset 0 0 0 2px #b7d3c6;
}
.input_task button {
    padding: 12px 18px;
    border: none;
    border-radius: 14px;
    background-color: #9fcdb7;
    color: #2f4f3e;
    font-weight: 500;
    cursor: pointer;
    /* gentle animation */
    transition: all 0.2s ease;
}
/* when user is hovering with cursor */
.input_task button:hover {
    background-color: #8bbfa6;
    /* translateY so -:move up, +:move down */
    transform: translateY(-2px);
}
.task_list h3 {
    margin-bottom: 12px;
    color: #4b6b5f;
    font-weight: 500;
}
.task_list ul {
    /* to remove the default bullets */
    list-style: none;
}
.task_list li {
    background-color: #f6f1ea;
    padding: 12px 14px;
    border-radius: 14px;
    margin-bottom: 10px;
    font-size: 0.9rem;
    color: #3e3e3e;
    box-shadow: inset 0 0 0 1.5px #eadfce;
}
